/venv
/.idea

*.txt
*.log

bfg-1.13.0.jar
.vscode/

file_conv.py
.DS_Store
project_ex/.DS_Store
project_ex/__pycache__/
student_result/.DS_Store
student_result/2018/03_data_analysis/.DS_Store
student_result/2018/03_data_analysis/01/__pycache__/
student_result/2018/03_data_analysis/12/.DS_Store
student_result/2018/03_data_analysis/26/
student_result/2018/05_socket/.DS_Store
student_result/2018/05_socket/01/.DS_Store
student_result/2018/05_socket/02/.DS_Store
student_result/2018/05_socket/10/.DS_Store
student_result/2018/05_socket/11/.DS_Store
student_result/2018/05_socket/12/.DS_Store
student_result/2018/05_socket/13/.DS_Store
student_result/2018/05_socket/14/.DS_Store
student_result/2018/05_socket/15/.DS_Store
student_result/2018/05_socket/16/.DS_Store
student_result/2018/05_socket/17/.DS_Store
student_result/2018/05_socket/18/.DS_Store
student_result/2018/05_socket/19/.DS_Store
student_result/2018/05_socket/20/.DS_Store
student_result/2018/05_socket/21/.DS_Store
student_result/2018/05_socket/22/.DS_Store
student_result/2018/05_socket/23/.DS_Store
student_result/2018/05_socket/24/.DS_Store
student_result/2018/05_socket/25/.DS_Store
student_result/2018/05_socket/26/.DS_Store
student_result/2018/05_socket/27/.DS_Store
student_result/2019/.DS_Store
